#{
 margin: 0%;
padding: 0%;
box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(244, 243, 241);
    overflow-y: scroll;
    /* overflow-x: scroll; */

}

.container {
    width: 94vw;
    border-radius: 20px;
    background-color: #FFFFFF;
    z-index: 10;
    box-shadow: 5px 5px 40px 5px rgb(192, 185, 185);

}

.navbar div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6em;


}

.navbar>div>.logo-navbar {
    width: 200px;
    height: 100px;
    align-self: center;
}

nav>div>ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav>div>ul>li {
    margin: 3rem;
    margin-right: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 16px;
    color: #515156;
    font-weight: 540;
}

nav>div>ul>li:hover {
    cursor: pointer;
}



.navbar>div>.button-contactus-navbar {
    display: flex;
    align-self: center;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 16px;

}
.navbar>div>.button-contactus-navbar:hover {
  background-color: black;
  color: #FFFFFF;
  cursor: pointer;
}


.main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-section>.main-section-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 3 10 20%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8rem;
    padding-top: 1rem;


}

.main-section>.main-section-start>h1 {


    display: inline-block;
    font-size: 6rem;

}


.my-Name {
 display: inline-block;
}

.my-Name::after {
    
    content: 'rav';
    display: inline-flex;
    align-items: center;
    width: 150px;
    height: 150px;
    vertical-align: baseline;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; 
    background-color: #6ec819;

}

@media(max-width: 420px) {
    .main-section>.main-section-start>.circle-design {
        /* display: none; */
    }

}

.main-section>.main-section-start>p {
    margin-top: -3rem;
    font-size: 1.3rem;
}

.main-section>.main-section-start>.getintouch-button {
    max-width: 10rem;
    height: 2rem;
    max-height: 6rem;
    background-color: black;
    color: #FFFFFF;

}

.main-section>.main-section-start>.getintouch-button:hover {

    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.main-section>img {
    width: 50rem;
    margin-top: -10rem ;
    z-index: -1;
}

.main-section>.social-sites {
    display: flex;
    align-self: flex-end;

}

.main-section>.social-sites>.social-sites-link {

    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    position: fixed;
    top: 15rem;
    left: 0.5rem;

}

.main-section>.social-sites>.social-sites-link>li>img {
    width: 40px;


}

.main-section>.social-sites>.social-sites-link>li>img:hover {
    cursor: pointer;

}